@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .lounge-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-slate-100 hover:bg-blue-600 
  text-blue-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }

  .lounge-selected{
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-blue-600 
  text-white
    rounded-xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg;
  }

  .lounge-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left z-50;
    z-index: 100;
  }

  .lounge-hr {
    @apply bg-gray-200 
    border border-gray-200 rounded-full
    mx-2;
  }

  .unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
  }
  .overscroll{
    overflow: hidden;
    
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

.launchpage_bg {
  /* background-image: url('path/to/your/image.jpg'); */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-color: rgba(170, 191, 255, 0.5); /* Adjust the last value (alpha) to adjust transparency */
}

.launchpage_alt_bg {
  /* background-image: url('path/to/your/image.jpg'); */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-color: rgba(226, 226, 226, 0.5); /* Adjust the last value (alpha) to adjust transparency */
}

.about_bg {
  /* background-image: url('path/to/your/image.jpg'); */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-color: rgba(255, 208, 170, 0.5); /* Adjust the last value (alpha) to adjust transparency */
}

.features_bg {
  /* background-image: url('path/to/your/image.jpg'); */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-color: rgba(170, 255, 194, 0.5); /* Adjust the last value (alpha) to adjust transparency */
}

.split-layout {
  display: flex;
  width: 100%;
  height: 50vh; /* Adjust the height as needed */
}

.center_paragraph {
  padding-left: 150px;
  padding-right: 150px;
}

.left-half {
  flex: 1;
  display: flex;
  padding-left: 80px;
  justify-content: center;
  align-items: center;
}

.right-half {
  flex: 1;
  display: flex;
  padding-right: 80px;
  justify-content: center;
  align-items: center;
}

.mini-section-center {
  align: center
}


.message-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.message-box h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.message-box p {
  font-size: 16px;
  margin-bottom: 0;
}


/* The Modal (background) */
.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}